<!DOCTYPE html>
{% import "macros.html" as macros %}
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="container">
    <div>
        <form class="form">
            {{macros.render_list("Автор", author)}}
            {{macros.render_list("Жанр", genre)}}
            {{macros.render_list("Издательство", publisher)}}
            <p>
                <input type="submit" class="button" value="Найти" style="width: 88px;">
                <input type="submit" class="button" value="Очистить" style="width: 88px;">
            </p>
        </form>
    </div>
    <div>
        <form>
            {% if len(genre_list) != 0 %}
            <b>Жанры: </b>
            {% for i in range(len(genre_list)-1) %}
            {{genre_list[i]}}&nbsp<input class="button" type="submit" value="X" name="{{genre_list[i]}}"
                                         style="margin: 0; padding:0; width: 15px; height: 15px;">,
            {%endfor%}
            {{genre_list[len(genre_list)-1]}}&nbsp<input class="button" type="submit" value="X"
                                                         name="{{genre_list[len(genre_list)-1]}}"
                                                         style="margin: 0; padding:0; width: 15px; height: 15px;">.
            {% endif %}
        </form>
        <form>
            {% if len(author_list)!=0 %}
            <b>Авторы: </b>
            {% for i in range(len(author_list)-1) %}
            {{author_list[i]}}&nbsp<input class="button" type="submit" value="X" name="{{author_list[i]}}"
                                          style="margin: 0; padding:0; width: 15px; height: 15px;">,
            {%endfor%}
            {{author_list[len(author_list)-1]}}&nbsp<input class="button" type="submit" value="X"
                                                           name="{{author_list[len(author_list)-1]}}"
                                                           style="margin: 0; padding:0; width: 15px; height: 15px;">.
            {% endif %}
        </form>
        <form>
            {% if len(publisher_list) != 0 %}
            <b>Издательства: </b>
            {% for i in range(len(publisher_list)-1) %}
            {{publisher_list[i]}}&nbsp<input class="button" type="submit" value="X" name="{{publisher_list[i]}}"
                                             style="margin: 0; padding:0; width: 15px; height: 15px;">,
            {%endfor%}
            {{publisher_list[len(publisher_list)-1]}}&nbsp<input class="button" type="submit" value="X"
                                                                 name="{{publisher_list[len(publisher_list)-1]}}"
                                                                 style="margin: 0; padding:0; width: 15px; height: 15px;">.
            {% endif %}
        </form>

        <p>
        <div class="grid">
            {{macros.grid_list(book_info)}}
        </div>
    </div>


</div>
</body>
</html>