select {
    width: 150px;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
}

input {
    width: auto;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 30px;

}

.button {
    cursor: pointer;
    background-color: #FF4D005C;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 10px;
}

.button:hover {
    background-color: #FF4D0090;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.grid > * {
    /*дизайн*/
    margin: 2px;
    border: 4px solid lightblue;
    padding: 5px;
    border-radius: 0 25px;
}

.form {
    margin: 2px;
    border: 4px solid lightblue;
    padding: 8px;
    border-radius: 25px 0;
    background: lavender;
    width: 180px;
}

details summary:hover{
    cursor: pointer;
}

.details_label {
    cursor: pointer;
    padding: 2.5px;
    border-radius: 6px;
}

.details_label:hover {
    background: aliceblue;
}
